body{
  background-color:blue;
  
}

.submitForm{
  position: relative;
  top:250px;
  display:flex;
  justify-content: center;
 
}
input{
  height: 40px;
  size:40px;
}
button{
  margin:5px;
  left:10px;
  position:relative;
  background:35px;
  color:white;
  border-radius: 10px;
  height:40px;
}
#title{
  text-align: center;
  position: relative;
  top:100px;
  color:white;
}


