.home {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
}
.home #img-container {
    /* display: grid;
    align-items: center; */
}
.home img{
    height: 200px;
    padding-top:60px
    
    
}

 
