
.button {
  display: inline-block;
  border-radius: 0 4px 4px 0;
  background-color: #dd480d;
  border: 2px solid #dd480d;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 8px;
  width: 120px;
  transition: all 0.7s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

